xml/rss/src/pod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="category" type="pod:categoryType" xmlns:pod="http://www.itunes.com/dtds/podcast-1.0.dtd"/>
  <xs:element name="keywords" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="subtitle" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="duration" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="summary" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="image" type="pod:imageType" xmlns:pod="http://www.itunes.com/dtds/podcast-1.0.dtd"/>
  <xs:element name="explicit" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="owner" type="pod:ownerType" xmlns:pod="http://www.itunes.com/dtds/podcast-1.0.dtd"/>
  <xs:element name="author" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="block" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:complexType name="ownerType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <xs:element type="xs:string" name="email" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoryType" mixed="true">
    <xs:sequence>
      <xs:element type="pod:categoryType" name="category" minOccurs="0" xmlns:pod="http://www.itunes.com/dtds/podcast-1.0.dtd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="text" use="optional" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:string" name="rel"/>
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:anyURI" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>