xml/rdf/spec/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RDF" type="rdf:RDFType" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
  <xs:element name="Seq" type="rdf:SeqType" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
  <xs:attribute name="resource" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:attribute name="about" type="xs:anyURI" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:complexType name="RDFType">
    <xs:sequence>
      <xs:element ref="ns:channel" xmlns:ns="http://purl.org/rss/1.0/"/>
      <xs:element ref="ns:image" xmlns:ns="http://purl.org/rss/1.0/"/>
      <xs:element ref="ns:item" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://purl.org/rss/1.0/"/>
      <xs:element ref="ns:textinput" xmlns:ns="http://purl.org/rss/1.0/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeqType">
    <xs:sequence>
      <xs:element type="rdf:liType" name="li" maxOccurs="unbounded" minOccurs="0" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="liType">
    <xs:simpleContent>
      <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:attribute type="xs:anyURI" name="resource" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>